extends ../layout.pug
block navbar
  ul.list-group
    -
      var sessionFile = `${session.session_id}.${session.data_version}`
      var menuLinks = [
        { link: `/session/${sessionFile}/overview`, id: 'index', text: 'Overview' },
        { link: `/session/${sessionFile}/heap_type`, id: 'heap-type', text: 'Heap Objects by Type' },
        { link: `/session/${sessionFile}/heap_size`, id: 'heap-size', text: 'Heap Objects by Size' },
        { link: `/session/${sessionFile}/events`, id: 'heap-events', text: 'Heap Events' },
        { link: `/session/${sessionFile}/fragmentation`, id: 'heap-fragmentation', text: 'Heap Fragmentation'},
        { link: `/session/${sessionFile}/execution`, id: 'execution-contexts', text: 'Execution Contexts' },
        { link: `/session/${sessionFile}/log_messages`, id: 'log-messages', text: 'Log Messages' },
        { link: `/session/${sessionFile}/frames`, id: 'frames', text: 'Frames' },
        { link: `/session/${sessionFile}/errors`, id: 'errors', text: 'Errors' }
      ]
    each item in menuLinks
      li.list-group-item(class={ active:item.id === activePage })
        a(href=item.link,style={ color:item.id === activePage ? '#ffffff' : '#007bff' })= item.text
        if item.id == 'errors'
          span.badge.badge-pill.badge-info.float-right= session.errors.length
