extends layout.pug
block body
  .table-responsive
    table.table.table-striped.table-hover
      if sessions && sessions.length
        thead
          tr
            th.text-nowrap Session ID
            th.text-nowrap Date and time
            th.text-nowrap Application
            th.text-nowrap Username
            th.text-nowrap Peak Allocated
            th.text-nowrap Errors?
        tbody
          each session in sessions
            tr
              td.align-middle
                a(href='/session/' + session.fileName)= session.name
              td.align-middle= session.name_formatted
              td.align-middle= session.application
              td.align-middle= session.username
              td.align-middle.text-center(data-order=session.peak_allocated)= session.peak_allocated_formatted
              if session.errors.length
                td.align-middle.text-center.table-danger= session.errors.length
              else
                td.align-middle.text-center.table-success(data-order='0') None
      else
        tbody
          tr
            td No sessions found